<h1>Coin Combinations</h1>
<form  action="/change">
  <div class="form-group">
    <label for="input-field">Enter a number</label><br>
    <input type="number" name="input-field" id="input-field" required>
  </div>
  <button id="send" class="btn bg-primary" type="submit">Get your change!</button>
</form>
