<!DOCTYPE html>
<html>
  <head>
    <title>Get your change</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>

    <style>
      body {
        text-align: center;
      }
    </style>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
